
  <div class='header'>About APD Order Management System</div>

  <p>&nbsp;</b>

  <p>
  This project was initiated by Peter Ross and is being implemented by Dmitri Ostapenko. It started in October 2019 and has a goal of alleviating some order processing headaches associated with archaic tools and practices. It's much more modern tool that was designed to be user friendly and easy to use. Tentative launch date is March 2020.
  </p>

  <p>
  Many tasks are automated. For example client registration is initiated with bulk invitation email sent with a click of a button to all known clients with email field present. After this invitation and email validation, clients are automatically registered into the system and can immediately begin ordering. Another example is setting product prices. We use 'price models' based on product attributes like scale, brand and type. Staff can add these price rules into the system and then just set new prices, both european and international, for all products with a click of a button. Changing prices using this method is a breathe. System also has self-testing capability to check data integrity and help staff to find and fix possible problems and correct missing information.
  </p>

  <p> 
  The project is still very much a work in progress and will evolve over time. Many thanks to Peter Ross, Andreas Mueller, Susanna, Sandra, Jana and many others who provided input and suggested changes. We hope to one day make it a useful tool for everybody to use.
  </p>
