<h1>Help Section</h1>


There are 5 categories of users currently:
<ul>
  <li>
  -user : anybody who registers online with ability to only look at the products available.
  </li>
  <li>
  -client : distributor or retailer; they will be able to see products, choose what they like and generate POs based on that
  <li>
  - production: manufacturing facility will be able to see current order situation and deal with shipments and inventories
  </li>
  <li>
  - staff : can do everything, but change users
  </li>
  <li>
  - admin: full control if the system
  </li>
</ul>

