<% if current_user.present? %>
<div class="help-container">
  <div class='header'>Help Section</div>
<div class="updated">Updated by: Dmitri Ostapenko, <%= Date.today - 5.days %></div>

  <%= render "/static_pages/help/#{current_user.role}_help" %>

</div>
<% end %>


