<% if !logged_in? %>
<style>
body {
  background-image: url('/images/reduced.jpg');
}
</style>
<% end %>

<div align="center"> 
  <table cellpadding=0 height=100%>
    <tr>
      <!--    <td> <img src="/images/homeimage1.jpg" width="1100" >  </td> -->
    </tr>
 <!--   <tr>
    <td> <img src="/images/homeimage1.jpg" width="740" >  </td>
    <td> <img src="/images/homeimage2.jpg" width="740" >  </td>
 </tr> -->
  </table>
<%# end %>

<!-- 
<div class="row">
  <div class="col-md-3">
     <a href="https://oms.drlena.com" target="_blank" class="email-button-b">Complete My Registration &rarr;</a>
  </div>
</div>
-->

</div>
