<div align="center">

<%# if !logged_in? %>
  <table cellpadding=0 height=100%>
    <tr>
    <td> <img src="/images/homeimage2.jpg" width="740" >  </td>
    <td> <img src="/images/homeimage2.jpg" width="740" >  </td>
    </tr>
    <tr>
    <td> <img src="/images/homeimage2.jpg" width="740" >  </td>
    <td> <img src="/images/homeimage2.jpg" width="740" >  </td>
    </tr>
  </table>
<%# end %>
</div>
