
  <h1> Recent changes to APD OMS </h1>

  <b> Feb 2020 </b>

  <ul>
    <li> Manual price highlights in products table; Show product modal changed - shows bigger picture </li>
    <li> "Last Shipped PPO" column added to inventory </li> 
    <li> Product reports added. PPOs shown in Documents drop-down  </li>
    <li> Production purchase orders added; New "Documents" drop-down instead of "Reports"; PDF PPO is now generated; Inventory column updates </li>
    <li> Back ordering added. New backorder column in inventory. Status is now assigned to each position in order and is shown in order details page </li>
    <li> Pending orders column in inventory list is now a link that shows all orders with current product </li>
    <li> Manual price for select products. If "Manual Price" attribute in product form is set to "Yes", product will be excluded from automatic price setting using price rules. Manual prices are highlighted with yellow background </li>
    <li> Shippers added to admin drop-down menu; Orders added to production; Product reports menu added</li>
    <li> Invoice tweaks: US/EURO account shown depending on order currency; Currency now shown correctrly in totals/shipping etc. Net Weight line added. Paypal Payment method added </li>
    <li> Number of Pending and Paid Orders is now calculated for each product. Both appear on inventory page </li>
    <li> Products can now be disabled using "Active" attribute set in product form. Only active products will show in client searches. Delete function for product is disabled.
    Inactive products are shown with yellow background in product list</li> 
    <li> Search box added to inventories page </li>
    <li> Product quantity added to product form and now can be changed from there </li>
    <li> Inventories updated from xls file provided by Susanna (feb12) </li>
    <li> "Invited by" column added to users table; Now shows on index page </li>
    <li> Simplified login for known clients; Users are now generated on the fly when invited by staff </li>
    <li> 2 More product categories added: 'Set' and 'Special edition' </li>
    <li> Client searches by price type (eu,eu2, usd2...) are now supported </li>
    <li> Cart is now editable; Products can be individualy deleted and amounts can be changed </li>
    <li> Cart changes: "Add" button instead of form with quantity; Products added one by one; Number next to cart now shows total number of pieces ordered, not number of unique items; User role-specific views for products </li>
    <li> Weight added to product list. "Date Added" column removed. </li>
    <li> Product list now has only one price column - Price EU. The same list uses proper client price in client view </li>
    <li> Production view of the site now has only one menu - "inventory". Individual product details are shown when clicking on product code </li> 
    <li> Help file updated with more details on ordering process </li>
    <li> Client list now has combined name, no phone number and added tax(%) column </li>
    </ul>

  <b> Jan 2020 </b>
  <ul>
    <li> Table Notes added to allow staff to keep notes about each table. This way Price table will have descriptions of which clients are using which price rules and so forth </li> 
    <li> 5 Different product views for 5 different user categories are now implemented. Users with less privileges will see less details. </li>
    <li> 5 price models added; Now 8 in total. Tax, weight and shpping cost added. Shipping calculated based on weight and unit shipping cost; Invoice and PO modified to show more fields. See help file for more details </li>
    <li> Total, shipping and discount on order details page now show correct currency, determined by client currency setting </li> 
    <li> Export function expanded. Now includes most important order attributes </li>
    <li> Client Help section updated </li>
    <li> Order search added. Currently supports searches by partial client name and partial order number, PO and Invoice number </li>
    <li> 3 new attributes added to order table: Payment Method, Shipping and Discount. All three can be entered from edit order page. Total order value calculation modified accordingly. </li>
    <li> Itemized reports can now be generated. They include details of each order. </li>
    <li> # of items, and not just products, is now shown in reports; </li>
  </ul>

  <b> Dec 2019 </b>
  <ul>
    <li> Invite link added to Clients index page. This allows staff to send client an invitation to register to OMS, if they are not still registered. As usual, they will have to confirm their email clicking on activation link for their account to become active. Once that is done, client is registered with OMS and can start ordering products </li>
    <li> "Data Integrity Check" function added to hamburger menu. This on is used to help staff find missing required fields in product and client tables </li>
    <li> Client mailer now has test option: "send mail to staff only" button in preview </li>
    <li> Preferred delivery and payment terms are now client attributes. These two are modifiable on per order basis, if required. They will appear on invoices as well as Notes field on order edit form </li>
    <li> P.O and Invoces are now generated on order submission and can be downloaded on demand. APD PO/Invoices only at this time. Rough preliminary version </li>
    <li> Reports are now functional. Many different filters to create them based on client, time frame, date range etc </li>
    <li> Help pages are now divided into sections based on user type. Staff and admin help pages fist version </li>
    <li> Admin functions moved to "hamburger" drop-down: Prices, Client Mailer, Export orders. These 3 are only visible to staff and admins </li> 
    <li> Invoice column added to active order list. Invoice number is generated same way as PO number. </li>
    <li> Order status can now be changed by staff and admins directly from orders menu (last column) </li>
    <li> Order email formatting changes; new columns added. Button takes to current order instead of order list. </li>
    <li> Client mailer is now fully functional. Mails can be sent to 5 groups of clients based on client type </li>
    <li> Client mailer prototype; reports prototype; jquery select2 for order drop-down prefill to speed up product search in <Add To Cart> </li>
    <li> shopping cart contents made into a modal; columns added to placements list in orders </li>
    <li> _staff_navigation partial bug fixed; cart indicator updated; </li> 
    <li> Session store added; Shopping cart ordering added; Orders can be created from products page or from orders (add to cart button) </li>
  </ul>

  <b> Nov 2019 </b>
  <ul>
    <li> For logged in clients product profile page now excludes following columns: manager, supplier and prices irrelevant to the client. </li> 
    <li> EUR/USD exchange is now handled; Totals are converted as per client's currency. Amounts are shown using client's locale </li>
    <li> CSV export of all orders is implemented in admin section </li>
    <li> Order filter by client added to order index page </li>
    <li> show/edit/new pages are now shown as modals throughout the site </li> 
    <li> Suppliers, managers MVC added </li>
    <li> Price rules are now implemented and placed in admin section. 3 different prices can now be applied to all products in database based on scale and category </li>  
    <li> Product pictures are imported, thumbnails created. New Ref codes are generated during import based on picture file name. Pictures are now shown in order email and on product profile page </li> 
    <li> 4 mailers implemented: 
      <ul>
      <li> Client Order mailer: sends order confirmation email to the client </li>
      <li> Staff Order mailer: sends notification of a new order to the staff users </li>
      <li> Low product quantity alert: sends notifications to staff about low quantity of the product </li>
      <li> New user registration alert: notifies staff of new user registration </li>
      </ul>
      <li> New registered users are now assigned client role automatically if their email is registered in client database and confirmed by them as active </li>
      <li> Basic inventory functionality is now implemented. Product quantity can be change on inventory index page </li>
    </li>
  </ul>

