<tr>
  <td class="text-center"><%= order.id %></td>
  <td class="text-center"><%= order.client_name %></td>
  <td class="text-center"><%= order.cre_date %></td>
  <td class="text-center"><%= @product.order_pcs(order) %></td>
</tr>
