<% if @placements.any? %>
<h3>Pending orders with item "<%= @product.ref_code %>" </h3>
<table class="tbl2 table-hover table-striped table-bordered" >
  <thead>
      <tr>
          <th class="tbl_sm, text-center">Order #</th>
          <th class="tbl_md, text-center">Client</th>
          <th class="tbl_md, text-center">Date</th>
          <th class="tbl_md, text-center">Pcs</th>
          <th class="tbl_md, text-center">Status</th>
      </tr>
  </thead>
  <tbody>
   <%= render partial: 'inventories/placement', collection: @placements, as: :placement, remote: device_is_desktop? %>
  </tbody>

  <tfoot>
    <tr>
      <th colspan=3></th>
      <th class="text-center"><%= @product.backorder_pcs %></th>
      <th></th>
    </tr>
  </tfoot>
</table>
  
<div class="bottom_nav">
<%= will_paginate @placements, class: "btn" %>
</div>
<% end %>
