<% provide(:title, 'Client Mailer') %>
  
<table class="tbl table-hover">
   <thead>
      <tr>
          <th class='text-center tbl_sm'>Id</th>
          <th>Title</th>
          <th class='text-center tbl_md'>Sent on</th>
          <th class='text-center tbl_md'>Category</th>
          <th class='text-center tbl_md'>Client Category</th>
          <th class='text-center tbl_md'>Created</th> 
          <th class='text-center tbl_md'>Target Emails</th>
          <% if current_user.admin? %>
            <th class="tbl_sm" colspan=2></th>
          <% end %>
      </tr>
  </thead>
  <tbody>

  <%= render @client_mails %>

  </tbody>
</table>

<div class="bottom_buttons ">
<%= will_paginate @client_mails, class: "btn" %>
<% if current_user.admin? || current_user.staff? %>
<%= button_to "Create New Email", new_client_mail_path, class: "btn btn-primary col-md-2 ", method: 'get'  %>
<% end %>
</div>
