<%= render "shared/modal" %>

<table class="tbl2 table-hover table-striped table-bordered" >
  <caption>List of Packing Lists</caption>
  <thead>
      <tr>
          <th class="text-center">Name</th>
          <th class="text-center">Description</th>
          <th class="text-center">Date</th>
          <th class="text-center">Orders</th>
          <th class="text-center">Products</th>
          <th class="text-center">Total Pcs To Ship</th>
          <th class="text-center">Uploaded by</th>
          <th class="text-center">Status</th>
          <th class="text-center">Ship it </th>
          <th></th>
          <th></th>
          <th></th>
      </tr>
  </thead>
  <tbody>

  <%= render partial: 'packing_list', collection: @plists, as: :packing_list, remote: device_is_desktop? %>

  </tbody>
</table>

<div class="bottom_buttons ">
  <% disabled = PackingList.any_active? %> 
  <%= button_to "Upload Packing List", new_packing_list_path, class: "btn btn-primary col-md-2", method: :get, disabled: disabled, title: 'Please ship Active Packing List first'%> 
</div>
