<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <table class="tbl2 table-hover table-striped table-bordered">
      <caption>Packing List <%= @packing_list.name %> uploaded <%= @packing_list.created_at.to_date %> by <%= @packing_list.user.email %></caption>
      <thead>
      <tr>
          <th class="tbl_md, text-center">Order</th>
          <th class="tbl_md, text-center">Ref Code</th>
          <th class="tbl_md text-center">Pcs</th>
      </tr>
      </thead>
       <tbody>
         <%= render partial: "csv_line", collection: @packing_list.contents %>
       </tbody>
    </table>
  </div>
</div>
