<%
   provide(:title, 'Your Shopping Cart')
%>

<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <b class="modal-title" id="myModalLabel">Your Shopping Cart:</b>
</div>
<div class="modal-body">
   <%= render "show_cart" %>
</div>

<div class="modal-footer">
</div>
