<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <b class="modal-title" id="myModalLabel">Order <%= @order.id %> - Details</b>
</div>
<div class="modal-body">


  blah blah
</div>

<div class="modal-footer">
  footer
</div>
