<% provide(:title, 'Managers') %>
  
<table class="tbl table-hover">
   <thead>
      <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <% if current_user.admin? %>
            <th class="tbl_sm" colspan=2></th>
          <% end %>
      </tr>
  </thead>
  <tbody>

  <%= render @managers %>

  </tbody>
</table>

<div class="bottom_buttons ">
<%= will_paginate @managers, class: "btn" %>
<%= button_to "Add Manager", new_manager_path, class: "btn btn-primary col-md-2 ", method: 'get'  %>
</div>

<script>
$zoho.salesiq.ready=function(embedinfo)
{ $zoho.salesiq.floatbutton.visible("hide"); }
</script>

