<% if get_cart.any? %>
  <% quantity = get_cart.to_h.values.sum rescue '' %>
  <div id="shopping_cart"><%= link_to "<i class='glyphicon glyphicon-shopping-cart'></i>&nbsp;#{quantity}".html_safe, cart_path %></div>
<% end %>
