<%
   provide(:title, 'Edit Client')
   provide(:button_text, 'Save changes')
%>

<div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <b class="modal-title" id="myModalLabel"><%= @client.name %> (<%= @client.client_type %>), <%= @client.country_str %> - Edit Client</b>
</div>
<div class="modal-body">
       <%= render 'form' %>
</div>

<div class="modal-footer">
</div>
