<%
   provide(:title, 'New Client')
   provide(:button_text, 'Save changes')
%>

<div class="col-md-8 col-md-offset-2">
<h3 class='display-1'>New Client</h3>
<div class="well">
 
       <%= render 'form' %>

</div>
</div>
