<% provide(:title, @client.name) %>

<div class="col-md-8 col-md-offset-2">
	<h3 class='display-1'>Client:  <%= @client.name %> - details  </h3>

        <%= render "show_client" %>

<div class="col-md-6">
    <%= button_to "Edit", edit_client_path(@client), class: "btn btn-primary", :method => "get" %>
</div>
<div class="col-md-6">
    <%= button_to "Back", clients_path, class: "btn btn-primary", :method => "get" %>
</div>
</div>
