<h3>Admin Help Section</h3>

As administrator, you have access to all pages of the OMS and can perform all functions except for ordering. Only clients can order products. See section about orders in Staff Help Section for information on how to order products on client's behalf.
<p>
There's one additional menu available to you as an administrator. This is last drop down link "Admin" in navigation header. Menu contains three items: 
<ol>
  <li> Users </li>
  <li> Managers </li>
  <li> Suppliers </li>
</ol>

All three have the same basic interface which allows you to see the list of users, modify their profiles and delete them if necessary. The rest of the functionality overlaps that of the staff and is described in the Staff Help Section below.

<p>&nbsp;</p>
<p>&nbsp;</p>

<%= render "/static_pages/help/staff_help" %>
