<div class='header'>Client Help</div>

<div style="width: 100%; overflow: hidden;">
<div style="width: 300px; float: left;">
<a id="table_of_contents"></a>
<h3>Table of contents</h3>
<li> <%= link_to "Introduction", "#introduction" %> </li>
<li> <%= link_to "Ordering", "#user_categories" %> </li>
<li> <%= link_to "Navigation and Search", "#navigation" %> </li>
<li> <%= link_to "Menu Descriptions", "#menu_descriptions" %> </li>


<dl class="row">
         <a id="Introduction"></a>
         <dt class="col-sm-1">Introduction:</dt>
</dl>



</div>
</div>
