<h3>Superuser Help Section</h3>

As superuser, you have access to all pages of the OMS and can perform all functions except for ordering. Only clients can order products. See section about orders in Staff Help Section for information on how to order products on client's behalf.

In addition to admin function set there are flilowing functions:

<ul>
  <li> Ability to switch to any user account in Users menu </li>
  <li> Ability to delete users </li>
  <li> Ability to delete products </li>
  <li> Ability to delete clients </li>
</ul>

<p>&nbsp;</p>

<%= render "/static_pages/help/admin_help" %>
