<%= simple_form_for @placement, url: add_product_path, method: :post do |f| %>
  <%# render 'shared/error_messages', object: f.object %>

    <div class="row">
    <div class="col-md-12">
      <%= f.input :id, collection: Product.all, label: 'Product', label_method: "ref_code_and_descr", value_method: :id, include_blank: 'Please Select' %> 
    </div>
    </div>

    <div class="row">
      <div class="col-md-12">
      <%= f.input :quantity, as: :integer %> 
      </div>
    </div>

  <% unless action_name == 'show' %>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  <% end %>

<% end %>

<script>
$(document).ready(function() {

  $.fn.select2.defaults.set( "theme", "classic" );
//  $('select').select2({ width: '100%' });

  $("#placement_id").select2();

});  
</script>
