<table class="tbl2 table-hover table-striped table-bordered" >
  <thead>
      <tr>
          <% unless current_user.client? %>
          <th class="tbl_md, text-center">Client</th>
          <% end %>
          <th class="tbl_sm, text-center">Order #</th>
          <th class="tbl_md, text-center">Date</th>
          <th class="tbl_md, text-center">PO#</th>
          <th class="tbl_md, text-center">Total</th>
      </tr>
  </thead>
  <tbody>
<%= render @orders, remote: device_is_desktop? %>
  </tbody>

<tfoot>
  <tr>
    <% unless current_user.client? %>
    <th></th>
    <% end %>
    <th></th>
    <th></th>
    <th></th>
    <th class="text-center"><%= Client.orders_total(@orders) %></th>
  </tr>
</tfoot>
</table>

<% if current_user.client? %>
<div class="row">
<div class="bottom_buttons ">
<%= button_to "Add Order", new_order_path, class: "btn btn-primary col-md-2", method: :get %>
</div>
</div>
<% end %>

<div class="row">
<div class="bottom_nav">
<%= will_paginate @orders, class: "btn" %>
</div>
</div>


