<div class="email-container">
<div class='email-header'>Invitation To register to OMS</div>
<p>Dear <b><%= @client.name %></b>, we are excited to invite you to register to our new ordering system. Once registered, you will be able to browse our complete product catalogue, select products for preorder, see order status and follow your ordering history.

<p>
Please click button below to go to our secure registration form.

<p>&nbsp;</p>
<%= button_to 'OMS Online Registration', new_user_registration_url, class: "email-btn", method: :get %>
<p>&nbsp;</p>


We are looking forward to working with you,
<p>&nbsp;</p>

<b>ASIA PREMIER DEVELOPMENT LTD</b>
<p>

Room 1616, 16/F., Lippo Centre, Tower 2, 89 Queensway,<p>
Admiralty, Hong Kong<p>
Max   - email: max@saminco.com.hk<p>
Peter -  email: pbr69@icloud.com


</div>
</div>
