<div class='email-container'>
<div class='email-header'>
Low quantity alert - <%= @product.ref_code %>
</div>
<p>
Product <%= @product.description %>, Ref Code <%= @product.ref_code %> quantity is low: <%= @product.total_qty %> 
</p>

</div>
