<%
   provide(:button_text, 'Save changes')
%>
<div class="col-md-8 col-md-offset-2">
  <h3 class='display-1'><%= @price.brand_str %> <%= @price.scale_str %> <%= @price.category_str %> - Edit Price Rule</h3>
<div class="well">

       <%= render 'form' %>

</div>
</div>
