@import 'bootstrap-email';
@import 'bootstrap/variables';

body {
margin-left: 20px; 
}

.email-header {
  font-size: $font-size-h4;
  background: $brand-info;
  margin-bottom: 40px;
}

.email-table {
  float: left;
  width: 50%;
  padding: 20px;
  background: #ddd;
  margin: 20px auto;
  text-align: left;
  font-family: 'Helvetica Neue';
  border: 1px solid black;
  }

.header-row {
  background: #ccc;
  height: 20px;
  }

.email-btn {
  height: 40px;
  background: $btn-primary-bg;
  font-size: 18px;
  color: white;
  font-weight: bold;
}  
