<%
   provide(:title, 'Create New Product')
   provide(:button_text, 'Save New Rule')
%>

<div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <b class="modal-title" id="myModalLabel">Create New Product</b>
</div>
<div class="modal-body">
       <%= render 'form' %>
</div>

<div class="modal-footer">
</div>
