<%
   provide(:title, 'Product details')
%>

<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <b class="modal-title" id="myModalLabel">Product <%= @product.ref_code %> : <%= @product.description %></b>
</div>
<div class="modal-body">
  <%= render "#{current_user.role}_show_prod" %>
</div>

<div class="modal-footer">
</div>
