<h1>Product List</h1>

<table class="tbl2 table-hover table-striped table-bordered" >
  <thead>
      <tr>
          <th class="tbl_lg">Name</th>
          <th class="tbl_sm, text-center">Ref.Code</th>
	  <th class="tbl_md, text-center">Brand</th>
	  <th class="tbl_md, text-center">Category</th>
	  <th class="tbl_md, text-center">Scale</th>
	  <th class="tbl_md, text-center">Added</th>
          <th class="tbl_md, text-center">Released</th>
          <th class="tbl_md, text-center">Supplier</th>
          <th class="tbl_sm, text-center">Price EU</th>
          <th class="tbl_sm, text-center">Price EU2</th>
          <th class="tbl_sm, text-center">Price World</th>
          <th class="tbl_sm, text-center">Progress (%)</th>
          <% if product_editable? %>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <% end %>
      </tr>
  </thead>
  <tbody>

  <%= render @products, remote: device_is_desktop? %>

  </tbody>
</table>


<div class="row">
<div class="bottom_buttons ">
<%= button_to "Add Product", new_product_path, class: "btn btn-primary col-md-2", method: :get %>
</div>

<div class="bottom_nav">
<%= will_paginate @products, class: "btn" %>
</div>
</div>
