<h1>Product List</h1>

<table class="tbl2 table-hover table-striped table-bordered" >
  <thead>
      <tr>
          <th class="tbl_lg">Name</th>
	  <th class="tbl_md">Brand</th>
	  <th class="tbl_md">Category</th>
	  <th class="tbl_md">Scale</th>
	  <th class="tbl_md">Cartons</th>
          <th class="tbl_md">Release Date</th>
          <th class="tbl_sm">Price EU</th>
          <th class="tbl_sm">Price World</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
      </tr>
  </thead>
  <tbody>

  <%= render @products, remote: device_is_desktop? %>

  </tbody>
</table>


<div class="row">
<div class="bottom_buttons ">
<%= button_to "Add Product", new_product_path, class: "btn btn-primary col-md-2", method: :get %>
</div>

<div class="bottom_nav">
<%= will_paginate @products, class: "btn" %>
</div>
