<% if @reports.any? %>
<table class="table table-hover table-striped">
  <caption>List of Product Reports</caption>
   <thead>
      <tr>
          <th class="text-center">Id</th>
          <th>Product</th>
          <th>Client</th>
          <th>Type</th>
          <th>Time Frame</th>
          <th>Date Range</th>
          <th>Detail</th>
          <th>Created on</th> 
          <th></th>
          <th></th>
          <% unless current_user.client? %>
            <th></th>
          <% end %>
      </tr>
  </thead>
  <tbody>

  <%= render @reports %>

  </tbody>
</table>

<div class="bottom_nav">
<%= will_paginate @reports, class: "btn" %>
</div>

<% end %>


