<% provide(:title, 'Reports') %>
<%= render "shared/modal" %>

<% cat_str = Report.cat_str(@category).downcase rescue 'product' %>
<%= render "#{cat_str}_index" %>

<div class="bottom_buttons">
  <%= link_to "Create #{cat_str} report ", new_report_path(category: @category), class: "btn btn-primary col-md-2 ", method: 'get'  %>
</div>

<script>
$zoho.salesiq.ready=function(embedinfo)
{ $zoho.salesiq.floatbutton.visible("hide"); }
</script>

