<%
   provide(:button_text, 'Create New Report')
%>

<div class="col-md-8 col-md-offset-2">
  <h3 class='display-1'>New <%= @report.category_str %> Report</h3>
<div class="well">

  <%= render "form#{@report.category}" %>

</div>
</div>
