<%= render "shared/modal" %>

<% if @ppos.any? %>

<table class="tbl2 table-hover table-striped table-bordered" >
  <caption>List of Production Purchase Orders</caption>
  <thead>
      <tr>
          <th class="tbl_md, text-center">Name</th>
          <th class="tbl_sm, text-center">Date</th>
          <th class="tbl_md, text-center">Product</th>
          <th class="tbl_md, text-center">Orders</th>
          <th class="tbl_sm, text-center">Pcs</th>
          <th class="tbl_md, text-center">Status</th>
      </tr>
  </thead>
  <tbody>

  <%= render @ppos, cached: true %>

  </tbody>
</table>
<% end %>

<div class="bottom_nav">
<%= will_paginate @ppos, class: "btn" %>
</div>
</div>


